{% extends "journal/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    body {
      background-color:#f6f3ec; /* Replace with your desired background color */
      }
    </style>
    
    <div class="greencontainer">
      <div class="greenbandcolor greenband">
      <div class="greencontent">
      <div class="greenpage">
      <div style="margin: 0 auto; text-align: center">
    
        <div>
          <span class="brd-box">
            <h3 style="color:rgb(253, 253, 253)";> Add Entry for {{ plant.name }}  </h3>
      
          </span>
        </div>
    
      </div>   
      </div>
      </div>
      </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
             
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Submit</button>
                        <a class="btn btn-outline-danger" href="{% url 'choose-plant' %}">Cancel</a> <!-- Added cancel button -->
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock content %}