{% extends "journal/base.html" %}
{% load cropping %}
{% load my_tags %}
{% block content %}

<style>
body {
  background-color:#f6f3ec; /* Replace with your desired background color */
  }
</style>

<div class="greencontainer">
  <div class="greenbandcolor greenband">
  <div class="greencontent">
  <div class="greenpage">
  <div style="margin: 0 auto; text-align: center">
    <div>
      <span class="brd-box">
        <p></p>
      <p style="color:rgb(253, 253, 253);">A logical approach to plants and gardening.</p>
      <p style="color:rgb(253, 253, 253);">Uncovering the true joys of plants: science and realistic expectations.</p>
      </span>
    </div>
  </div>   
  </div>
  </div>
  </div>
</div>


  {% if user.is_authenticated %}
  {% else %}
    <div class="container">
      <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>Welcome!</strong> You may <a href="{% url 'login' %}" class="alert-link">login</a> or <a href="{% url 'register' %}" class="alert-link">register</a> to view your own collection or simply view my <a href="{% url 'journal-home' %}" class="alert-link">catalog</a>!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  {% endif %}
  <div class="col-md-6 offset-md-3 text-center">
    <h2>Plant of the Week</h2>
    {% if random_plant %}
      <div class="thumbnail-container">
        <a target="_blank" href="img_forest.jpg">
          <div class="col-card mb-5">
            <div class="card-img-container">
              <img src="{{ random_plant.image.url }}" class="thumbnail-img" alt="{{ random_plant.name }}">
            </div>
            <h5 class="card-title">{{ random_plant.name }}</h5>
            <p class="card-text">{{ random_plant.description }}</p>
          </div>
        </a>
      </div>
    {% else %}
      <p>No plants available for this week.</p>
    {% endif %}
  </div>  
    </a>
  </div>
</div>
  
{% endblock content %}
